@{
    ViewData["Title"] = "Books";
}
@model List<BookViewModel>


<h1 class="text-center">Books</h1>
@if (TempData["status"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Name</td>
                <td scope="row">@item.Author</td>
                <td scope="row">@item.Year</td>
                <td scope="row">
                    <a class="btn btn-primary" asp-controller="book" asp-action="update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="book" asp-action="remove" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



